* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
    font-weight: 500;
    background-color: rgba(191, 196, 255, 0.63);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: 'roboto slab', sans-serif;
    font-size: 400%;
}
#add-book-btn {
    padding: 10px;
    font-family: 'josefin sans', serif;
}
img {
position: fixed;
bottom: 0;
right: -4%;
width: 40%;
}
h2 {
    font-family: 'roboto slab', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 2% ;
    margin-bottom: 7%;
}
input {
    margin: 10px 10px;
    font-family: 'open sans';
    padding: 5px ;
    font-size: 100%;
    width: 95%;
}
label {
    display: block;
    margin-left: 10px;
    font-family: 'raleway', sans-serif;
    font-size: 100%;
}
#book-container {
    display: flex;
    flex-flow: row wrap;
}
div > div {
    border: 1px solid;
    padding: 10px;
    width: 15vw;
    min-width: 190px;
    height: 14rem;
    margin: 10px;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0 0 5px rgba(145, 139, 139, 0.575);
}
form {
    display: none;
    background-color: rgb(228, 228, 127);
    z-index: 1;
    height: 70%;
    width: 50%;
    position: fixed;
    top:15%;
    left:25%;
    border-radius: 2%;
    box-shadow: 0 0 5px black;
}
#done-btn {
    width: 50%;
    margin-left: 24%;
    font-family: 'raleway', sans-serif;
}